<form [formGroup]="pricingForm" (ngSubmit)="onSubmit()" class="form-container fade-in">
    <h2 class="form-title">Pricing Registration Form</h2>
    <mat-tab-group class="tab-group">
      <mat-tab label="Basic Information">
        <div class="tab-content">
          <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput formControlName="price" type="number"/>
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>Enter the validity date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Effective date" formControlName="effectiveDate">
              <input matEndDate placeholder="Expiration date" formControlName="expirationDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>
  
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" class="submit-button">Save Price</button>
      <button mat-raised-button color="accent" type="button" class="clear-button" (click)="onClearForm()">Clear</button>
    </div>
  </form>
  