<mat-card class="group-card">
  <mat-card-content>
    <div class="group-info" (click)="navigateToGroupProfile()">
      <div class="group-avatar">
        <img *ngIf="groupPhotoUrl; else groupIcon"
             [src]="groupPhotoUrl"
             alt="Photo du groupe"
             class="group-photo" />
        <ng-template #groupIcon>
          <mat-icon class="default-icon">group</mat-icon>
        </ng-template>
      </div>
      <div class="group-details">
        <h4>{{ group.name || 'Unknown Group' }}</h4>
        <p><strong>Niveau:</strong> {{ level }}</p>
        <p><strong>Type:</strong> {{ type }}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
