<div class="content-container">
  <mat-toolbar class="view-toggle-toolbar">
    <button mat-button
            [class.active]="viewMode === 'card'"
            (click)="changeViewMode('card')">
      <mat-icon>view_comfy</mat-icon>
      Grid
    </button>
    <button mat-button
            [class.active]="viewMode === 'list'"
            (click)="changeViewMode('list')">
      <mat-icon>view_list</mat-icon>
      List
    </button>
  </mat-toolbar>

  <ng-container *ngIf="!isLoading && filteredGroups.length > 0; else loadingOrEmptyState">
    <div class="group-view" [ngClass]="{'card-view': viewMode === 'card', 'list-view': viewMode === 'list'}">
      <ng-container *ngIf="viewMode === 'card'">
        <app-group-card *ngFor="let group of currentPageGroups"
                        [group]="group"
                        [levels]="levels"
                        [groupTypes]="groupTypes">
        </app-group-card>
      </ng-container>
      <ng-container *ngIf="viewMode === 'list'">
        <app-group-list *ngFor="let group of currentPageGroups"
                        [group]="group"
                        [levels]="levels"
                        [groupTypes]="groupTypes">
        </app-group-list>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #loadingOrEmptyState>
    <div *ngIf="isLoading" class="loading-container">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!isLoading && filteredGroups.length === 0" class="empty-state">
      <mat-icon class="empty-icon">group_off</mat-icon>
      <p>Aucun groupe trouvé.</p>
    </div>
  </ng-template>

  <mat-paginator [length]="totalGroups"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="changePage($event)">
  </mat-paginator>
</div>
