<h2 mat-dialog-title>Summary</h2>
<mat-dialog-content>
  <div class="section-container">
    <div *ngFor="let section of sections" class="section">
      <div class="section-title">{{ section.title | camelCaseToSpaceString}}</div>
      <div *ngFor="let field of section.fields" class="field">
        <div class="field-label">{{ field.label | camelCaseToSpaceString}}:</div>
        <div class="field-value">{{ field.value }}</div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onConfirm()">Confirm</button>
</mat-dialog-actions>
