.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 18.75rem;
    padding: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    }
  }
  
  .profile-card-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .profile-photo {
    border-radius: 50%;
    width: 6.25rem; 
    height: 6.25rem;
    margin-bottom: 0.5rem; 
  }
  
  .profile-info {
    text-align: center; 
  }
  
  .profile-name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 4px 0; 
  }
  
  .profile-subtitle {
    color: #666;
    font-size: 0.9em;
  }
  
  .card-actions {
    display: flex;
    justify-content: center; 
    gap: 8px; 
    margin-top: 12px; 
  }
  
  .contact-button {
    margin: 0;
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-transform: none; 
  }
  
  .contact-button i.material-icons {
    margin-right: 0; 
  }
  
  .email-button {
    color: #0d47a1;
  }
  
  .phone-button {
    color: #4caf50; 
  }
  
  .contact-button:hover {
    background-color: #e0e0e0; 
  }
  

  @media (max-width: 600px) {
    .profile-card {
      width: 100%; /* Occupe toute la largeur disponible */
      height: auto; /* Hauteur automatique pour s'adapter au contenu */
      padding: 0.5rem;
      margin-bottom: 1rem; /* Espace entre les cartes */
    }
  
    .profile-card-content {
      flex-direction: row; /* Disposition en ligne */
      align-items: center;
    }
  
    .profile-photo {
      width: 4rem; /* Réduction de la taille de la photo */
      height: 4rem;
      margin-right: 0.5rem;
      margin-bottom: 0;
    }
  
    .profile-info {
      text-align: left;
    }
  
    .profile-name {
      font-size: 1em; /* Réduction de la taille de police */
      margin: 0;
    }
  
    .profile-subtitle {
      font-size: 0.8em; /* Réduction de la taille de police */
    }
  
    .card-actions {
      justify-content: flex-start;
      gap: 4px; /* Réduction de l'espacement entre les boutons */
      margin-top: 0.5rem;
    }
  
    .contact-button {
      width: 32px; /* Réduction de la taille des boutons */
      height: 32px;
    }
  
    .contact-button i.material-icons {
      font-size: 16px; /* Réduction de la taille des icônes */
    }
  }
  