
<div class="dashboard-main">
  <app-reusable-card title="Subscribe Students" icon="school" color="green-card"></app-reusable-card>
  <app-reusable-card title="Subscribe Professors" icon="person_add" color="green-card"></app-reusable-card>
  <app-reusable-card title="Subscribe Groups" icon="group_add" color="green-card"></app-reusable-card>
  <app-reusable-card title="Subscribe Attendance" icon="school" color="green-card"></app-reusable-card>
  <app-reusable-card title="Subscribe Session" icon="event_add" color="green-card"></app-reusable-card>
  <app-reusable-card title="Subscribe Payment" icon="payment_add" color="green-card"></app-reusable-card>
</div>