<mat-card class="student-card" (click)="navigateToProfile()">
  <div class="student-card-content">
    <img mat-card-avatar [src]="student.photo" alt="Student Photo" class="student-photo">
    <div class="student-info">
      <mat-card-title class="student-name">{{ student.firstName }} {{ student.lastName }}</mat-card-title>
      <mat-card-subtitle class="student-id">Level: {{ student.level }}</mat-card-subtitle>
    </div>
    <mat-card-actions class="card-actions">
      <button mat-button class="contact-button email-button" (click)="sendEmail($event)"><i class="material-icons">email</i></button>
      <button mat-button class="contact-button phone-button" (click)="callPhone($event)"><i class="material-icons">phone</i></button>
    </mat-card-actions>
  </div>
</mat-card>
