.student-list-item {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  margin-bottom: 8px;
  background-color: #ffffff;
  border: 1px solid #e1e4e8;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.06);
  transition: all 0.2s ease-in-out;
}

.student-list-item:hover {
  box-shadow: 0 10px 15px rgba(0,0,0,0.1), 0 4px 6px rgba(0,0,0,0.05);
  transform: translateY(-2px);
}

.student-avatar img {
  width: 50px; /* Ajustez selon vos préférences */
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}

.student-details {
  display: grid;
  grid-template-columns: auto auto auto;
}

.student-details h3 {
  font-size: 16px; /* Ajustez selon vos préférences */
  font-weight: 500;
  color: #2c3e50;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.student-details p {
  font-size: 14px;
  color: #95a5a6;
  margin-left: 16px; /* Espace entre le nom et l'e-mail */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.student-details button {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase; /* Style typographique pour le bouton */
  font-weight: bold;
  margin-left: auto; /* Aligner le bouton à droite */
  transition: background-color 0.2s ease-in-out;
}

.student-details button:hover {
  background-color: #2980b9;
}

.mdc-list-item__primary-text{
  display: grid;
  grid-template-columns: auto auto;
}
