<div class="student-profile-container fade-in" *ngIf="!loading; else loadingSpinner">
  <mat-card class="student-card">
    <mat-card-header>
      <div class="header-container">
        <div class="student-info-header">
          <div class="student-photo-container">
            <img [src]="studentPhotoUrl" alt="Photo de l'étudiant" class="student-photo">
          </div>
          <div class="student-name-level">
            <mat-card-title>{{ student?.firstName }} {{ student?.lastName }}</mat-card-title>
            <mat-card-subtitle>{{ student?.level }}</mat-card-subtitle>
          </div>
        </div>
        <div class="header-buttons">
          <button mat-icon-button class="edit-button" (click)="onEdit()" aria-label="Modifier" matTooltip="Modifier le profil">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="disable-button" (click)="onDisable()" aria-label="Désactiver" matTooltip="Désactiver le compte">
            <mat-icon>block</mat-icon>
          </button>
      
          <button mat-icon-button class="payment-history-button" (click)="openPaymentHistoryDialog()" aria-label="Historique des paiements" matTooltip="Voir l'historique des paiements">
            <mat-icon>account_balance_wallet</mat-icon>
          </button>
          <button mat-icon-button class="attendance-history-button" (click)="openAttendanceHistoryDialog()" aria-label="Historique de présence" matTooltip="Voir l'historique de présence">
            <mat-icon>fact_check</mat-icon>
          </button>
          <button mat-icon-button class="full-history-button" (click)="generateFullHistoryPdf()" aria-label="Historique complet" matTooltip="Voir l'historique complet">
            <mat-icon>print</mat-icon>
          </button>         
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="student-info-grid">
        <div class="info-section">
          <h3>Informations Personnelles</h3>
          <p><strong>Sexe :</strong> {{ student?.gender }}</p>
          <p><strong>Email :</strong> {{ student?.email }}</p>
          <p><strong>Téléphone :</strong> {{ student?.phoneNumber }}</p>
          <p><strong>Date de naissance :</strong> {{ student?.dateOfBirth | date: 'mediumDate' }}</p>
          <p><strong>Lieu de naissance :</strong> {{ student?.placeOfBirth }}</p>
        </div>
        <div class="info-section">
          <h3>Informations Académiques</h3>
          <p><strong>Niveau :</strong> {{ student?.levelName }}</p>
          <p><strong>Établissement :</strong> {{ student?.establishment }}</p>
          <p><strong>Moyenne :</strong> {{ student?.averageScore }}</p>
        </div>
      </div>
      <div class="button-container">
        <button mat-raised-button color="accent" (click)="openPaymentDialog()">Ajouter Paiement</button>
        <button mat-raised-button color="primary" (click)="openGroupDialog()">Gérer les Groupes</button>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Accordeon avec barre de défilement pour les groupes -->
  <mat-accordion class="group-accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Voir les Groupes
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="group-cards-scroll">
        <div class="group-cards">
          <app-group-card *ngFor="let group of studentGroups"
                          [group]="group"
                          [levels]="levels"
                          [groupTypes]="allGroupTypes">
          </app-group-card>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #loadingSpinner>
  <div class="loading-spinner">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
