.all-content {
  display: flex;
  flex-direction: column;
  height: 100vh;


  .main-container {
    display: flex;
    flex-grow: 1;
    border: 1px solid red; // Temporary border to see the container edges

    .side-menu {
      //width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; // Align items to the start of the flex-direction column
  

      app-side-menu {
        // If app-side-menu is a custom component, ensure it renders correctly
        border: 1px solid green; // Temporary border to see the edges
      }
    }

    .content-area {
      flex-grow: 1;
      overflow-y: auto;
      border: 1px solid yellow; // Temporary border to see the container edges
    }
  }
}
