.all-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.app-navigation {
  height: 64px;
  flex: none;
}

.main-container {
  display: flex;
  flex: 1;
  width: 100%;
}

.sidenav-container {
  display: flex;
  flex: 1;
  height: calc(100vh - 64px); /* Hauteur totale moins la barre de navigation */
  margin: 0;
  padding: 0;
}

.sidenav {
  width: 250px; /* Largeur de la barre latérale */
  background: linear-gradient(178.6deg, rgb(232, 245, 253) 3.3%, rgb(252, 253, 255) 109.6%);
  color: black;
  margin: 0;
  padding: 0;
}

.mat-list-item {
  color: black;
}

.content-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding: 16px;
  background-color: #f4f5f7;
  margin: 0;
  align-items: stretch; /* Aligner les éléments pour qu'ils s'étirent sur toute la largeur */
  width: 100%; /* Assurez-vous qu'il prend toute la largeur disponible */
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  margin: 0 auto; /* Centrer horizontalement */
}
