:root {
  /* Définir la taille de la racine pour rem. Par défaut, il est généralement de 16px */
  font-size: 16px;
}


.teacher-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem; /* 240px / 16 = 15rem */
  height: 18.75rem; /* 300px / 16 = 18.75rem */
  padding: 1rem; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px; /* Légèrement plus arrondi que précédemment */
  background-color: #fff;
  cursor: pointer;
}

.teacher-card-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre les éléments horizontalement */
}

.teacher-photo {
  border-radius: 50%;
  width: 6.25rem; /* 100px / 16 = 6.25rem */
  height: 6.25rem;
  margin-bottom: 0.5rem; /* 8px / 16 = 0.5rem */
}

.teacher-info {
  text-align: center; /* Centre le texte horizontalement */
}

.teacher-name {
  font-size: 1.2em;
  font-weight: bold;
  margin: 4px 0; /* Ajoute un peu d'espace autour du nom */
}

.teacher-id {
  color: #666;
  font-size: 0.9em;
}

.card-actions {
  display: flex;
  justify-content: center; /* Centre les boutons horizontalement */
  gap: 8px; /* Espace entre les boutons */
  margin-top: 12px; /* Espace au-dessus des actions */
}

.contact-button {
  margin: 0;
  border-radius: 50%; /* Rend les boutons circulaires */
  width: 40px; /* Taille fixe pour le bouton */
  height: 40px; /* Taille fixe pour le bouton */
  display: flex;
  align-items: center; /* Centre l'icône dans le bouton */
  justify-content: center; /* Centre l'icône dans le bouton */
  text-transform: none; /* Retire la transformation en majuscules */
}

.contact-button i.material-icons {
  margin-right: 0; /* Retire la marge droite pour centrer l'icône */
}

.email-button {
  color: #0d47a1;
}

.phone-button {
  color: #4caf50; /* Couleur verte pour le bouton Phone */
}

.contact-button:hover {
  background-color: #e0e0e0; /* Couleur de fond au survol pour les boutons */
}
.pagination-container {
  position: sticky;
  bottom: 0;
  background: white;
  padding: 1rem 0;
  border-top: 1px solid #ccc; /* Optionnel pour la séparation */
  z-index: 10; /* S'assurer qu'il reste au-dessus des autres éléments */
}

/* S'assurer que .students-grid-container a une marge en bas équivalente à la hauteur de .pagination-container */
.teachers-grid-container {
  margin-bottom: 3rem; /* ajustez en fonction de la hauteur de votre pagination */
}