/* import other style files */
@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/base';
@import 'styles/layout';
@import 'styles/buttons';
@import 'styles/forms';

html, body { height: 100%; }
body { 
    max-width: 95rem;
    margin: 0rem auto; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); 


}

/* Ajoutez vos styles globaux ici */

/* styles.scss ou un fichier SCSS global */
