<mat-toolbar color="primary">
  <div class="spacer">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="path-to-your-logo" alt="School Logo" class="logo">
  </div>

  <div>
    <mat-icon tabindex="0" (click)="setSearchType('student')">face</mat-icon>
    <mat-icon tabindex="0" (click)="setSearchType('group')">group</mat-icon>
    <mat-icon tabindex="0" (click)="setSearchType('teacher')">person_outline</mat-icon>
  </div>

  <div class="search-container">
    <mat-form-field>
      <mat-icon matPrefix class="search-icon" (click)="onSearch()">search</mat-icon>
      <input matInput [placeholder]="placeholder" [formControl]="searchControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event.option.value)">
        <mat-option *ngFor="let suggestion of filteredSuggestions | async" [value]="suggestion">
          {{ suggestion }}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matSuffix *ngIf="searchControl.value" (click)="searchControl.setValue('')">close</mat-icon>
    </mat-form-field>
  </div>

  <div class="user-info">
    <img [src]="userPhoto" alt="User Photo" class="user-photo">
    <span class="user-name">Mr. Robinson</span>
  </div>
</mat-toolbar>
