.mat-toolbar {
    display: flex;
    justify-content: space-between;

    .spacer {
      flex-grow: 1; 
    }
  
    .search-container {
      flex-grow: 2; 
      max-width: 40rem; 
      margin: 2.5rem 5rem 0rem 5rem;
    }

  }
  
  .mat-icon{
    color: black;
    cursor: pointer; 
  }

  .icone-search {
    display: flex; // Cette ligne assure que les icônes sont alignées horizontalement
    justify-content: center; // Cette ligne centre les icônes dans le div .icone-search
    gap: 1rem;
  
    mat-icon {
      cursor: pointer; // Rend les icônes cliquables plus intuitivement avec la main au survol
      // Ajouter un effet visuel pour les clics et les survols pourrait être une bonne idée
      &:hover {
        color: #666; // Change la couleur au survol, choisissez une couleur qui correspond à votre design
      }
    }
  }
  