<mat-toolbar color="primary">
  <div class="spacer">
    <button mat-icon-button (click)="toggleSidenav()" matTooltip="Ouvrir/Fermer le menu">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="assets/succes_assistance.png" alt="Logo de l'école" class="logo" [routerLink]="['/dashboard']">
  </div>

  <div class="icone-search">
    <mat-icon tabindex="0" (click)="setSearchType('student')" [ngClass]="{'selected-icon': selectedIcon === 'student'}" matTooltip="Rechercher un élève">face</mat-icon>
    <mat-icon tabindex="0" (click)="setSearchType('group')" [ngClass]="{'selected-icon': selectedIcon === 'group'}" matTooltip="Rechercher un groupe">group</mat-icon>
    <mat-icon tabindex="0" (click)="setSearchType('teacher')" [ngClass]="{'selected-icon': selectedIcon === 'teacher'}" matTooltip="Rechercher un enseignant">person_outline</mat-icon>
  </div>

  <div class="search-container" [class.hide-search]="hideSearch">
    <mat-form-field>
      <mat-icon matPrefix class="search-icon" (click)="onSearch()" matTooltip="Chercher">search</mat-icon>
      <input matInput 
             [placeholder]="placeholder" 
             [formControl]="searchControl" 
             [matAutocomplete]="auto"
             (keydown.enter)="onSearch()">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event.option.value)">
        <mat-option *ngFor="let suggestion of filteredSuggestions | async" [value]="suggestion">
          {{ suggestion }}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matSuffix *ngIf="searchControl.value" (click)="searchControl.setValue('')" matTooltip="Effacer">close</mat-icon>
    </mat-form-field>
  </div>

  <div class="user-info">
    <img src="assets/pic.jpg" alt="Photo de l'utilisateur" class="user-photo" [matMenuTriggerFor]="userMenu" matTooltip="Menu utilisateur">
    <span class="user-name">M. DJATOU</span>
  </div>
  
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="toggleDarkMode()">Mode sombre/clair</button>
    <button mat-menu-item (click)="changeLanguage('ar')">Langue: Arabe</button>
    <button mat-menu-item (click)="changeLanguage('fr')">Langue: Français</button>
    <button mat-menu-item (click)="changeLanguage('es')">Langue: Espagnol</button>
    <button mat-menu-item (click)="logout()">Déconnexion</button>
    <button mat-menu-item (click)="openSettings()">Paramétrage</button>
  </mat-menu>
</mat-toolbar>
