<div class="content-container">
  <mat-toolbar class="view-toggle-toolbar">
    <button mat-button
            [class.active]="viewMode === 'card'"
            (click)="changeViewMode('card')">
      <mat-icon>view_comfy</mat-icon>
      Grid
    </button>
    <button mat-button
            [class.active]="viewMode === 'list'"
            (click)="changeViewMode('list')">
      <mat-icon>view_list</mat-icon>
      List
    </button>
  </mat-toolbar>

  <div class="teacher-view" [ngClass]="{'card-view': viewMode === 'card', 'list-view': viewMode === 'list'}">
    <ng-container *ngIf="viewMode === 'card'">
      <app-teacher-card *ngFor="let teacher of currentPageTeachers" [teacher]="teacher"></app-teacher-card>
    </ng-container>
    <ng-container *ngIf="viewMode === 'list'">
      <app-teacher-list *ngFor="let teacher of currentPageTeachers" [teacher]="teacher"></app-teacher-list>
    </ng-container>
  </div>

  <mat-paginator [length]="totalTeachers"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="changePage($event)">
  </mat-paginator>
</div>
